<!DOCTYPE html>
<html lang="ko">
  <!--번역하시겠습니까 없이 바로 한글로 띠움-->
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/home/login.css">
    <script src="/js/home/login.js" defer></script>
    <title>Document</title>
  </head>
  <body>
    <div class="login-page"> 
      <div class="form">
        <!-- <form class="register-form">
          <input type="text" placeholder="name"/>
          <input type="password" placeholder="password"/>
          <input type="text" placeholder="email address"/>
          <button>create</button>
          <p class="message">Already registered? <a href="#">Sign In</a></p>
        </form>    -->
        <form class="login-form">
          <input id="id" type="text" placeholder="아이디"/>
          <input id="psword" type="password" placeholder="비밀번호"/>
          <button>login</button>
          <p class="message">Not registered? <a href="/register">Create an account</a></p>
        </form>
      </div>
    </div>
  </body>
</html>

<!--Copyright (c) 2022 by Aigars Silkalns (https://codepen.io/colorlib/pen/rxddKy)-->