
  <!DOCTYPE html>
  <html lang="ko"> <!--번역하시겠습니까 없이 바로 한글로 띠움-->
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
  </head>
  <body>
      여기는 루트입니다.
  </body>
  </html>